.App {
  text-align: center;
}

.App-header {
  background-color: #0c070f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background:#140b19;
  width: 100%;
  position: fixed;
  top: 0;
}

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #140b19;
  padding: 3px;
  text-align: center;
  color: beige;
  font-size: small;
}

.navbar-title-container {
  margin-right: 10px;
  margin-left: 2%;
  font-size: 18px;
  font-weight: bold;
  color: beige;
}

.navbar-title-container:hover {
  animation: danceAnimation 1s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  cursor: pointer;
}

.navbar-logo {
  max-width: 32px;
  max-height: 32px;
}

.navbar-button-container {
  display: flex;
  align-items: center;
  margin-right: 2%;
}

.nav-button {
  margin-left: 10px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 120px;
  background-color: #411e56;
  color: beige;
  transition: background-color 0.3s, transform 0.3s;
}

.nav-button:hover {
  background-color: #622d7f;
  transform: scale(1.05);
}

.info-container {
  align-items: center;
  padding: 10px;
  background:#2d1938;
  width: 60%;
}

.info-title-container {
  font-size: 18px;
  font-weight: bold;
  color: beige;
}

.info-body-container {
  margin: 2% 4% 2% 4%;
}

.info-body-title {
  font-size: 18px;
  font-weight: bold;
  color: beige;
}

.info-body-text {
  font-size: 15px;
  font-weight: bold;
  color: beige;
}

.carousel-container {
  width: 100%;
  margin: 20px auto;
  color:bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tab {
  display: flex;
  align-items: center;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.Previous-Button,
.Next-Button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #411e56;
  width: 60px;
  transition: background-color 0.3s, transform 0.3s;
}

.Previous-Button:hover,
.Next-Button:hover {
  background-color: #622d7f;
  transform: scale(1.05);
}

.carousel-image {
  max-width: 300px;
  max-height: 300px;
  margin: 2px;
}

.pages {
  align-items: center;
  width: 100%;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

h2 {
  font-weight: 100;
}

.gallery-info-container {
  width: 100%;
  margin: 20px auto;
  color:bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery-info-title {
  font-weight: 100;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.gallery-info-description {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



@keyframes danceAnimation {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes wave {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

.login-container {
  background-color: #F7F3E3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
  border-radius: 25px;
  z-index: 1001;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.login-text {
  padding: 10px;
  color: #2B2118;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.login-input {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  width: 200px;
  margin: 10px;
  background-color: #F7F3E3;
}

.login-button, .close-popup-button {
  font-size: 16px;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #411e56;
  width: 100px;
  color: bisque;
  transition: background-color 0.3s, transform 0.3s;
}

.login-button:hover,
.close-popup-button:hover {
  background-color: #622d7f;
  transform: scale(1.05);
}

.wrong-password-message {
  padding: 10px;
  color: #c31919;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}