.App {
  text-align: center;
}

.App-header {
  background-color: #080b11;
  color: white;
  top: 0; /* Stick to the top */
  width: 100%; /* Take the full width of the viewport */
}

.navbar-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; /* Set a max-width to prevent it from becoming too wide */
  margin: 0 auto; /* Center the content horizontally */
  position: fixed; /* Fixed position to keep it at the top of the page */
}

.title {
  flex: 0 0 60%;
}

.nav-button {
  flex: 0 0 20%;
  margin-left: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.nav-button:hover {
  background-color: #522669;
  transform: scale(1.05);
}
